<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.darkrockstudios.apps.looksy">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="looksy.db"/>
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1"/>
        <meta-data
            android:name="AA_MODELS"
            android:value="com.darkrockstudios.apps.screenontest.data.Unlock"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".settings.SettingsActivity">

        </activity>

        <receiver
            android:name=".background.recordcheck.RecordCheckReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".background.recordcheck.RecordCheckIntentService"
            android:exported="false">
        </service>
        <service
            android:name=".background.report.ReportService"
            android:enabled="true"
            android:exported="true">
        </service>

        <receiver
            android:name=".background.report.ReportAlarmReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>
        <receiver
            android:name=".background.BootAndUpgradeReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
